<div class="panel panel-primary">
  <div class="panel-heading">
    <h1><%= @artist.name %></h1>
    <div id="artist-id"><%=@artist.id%></div>
  </div>

  <div class="panel-body">
    <%= link_to "Delete artist", artist_path(@artist), method: :delete, class: "btn btn-primary", data: { confirm: "Are you sure?" } %><br>

    <h3>Songs</h3>
    <div id="song-list" class="panel-body">
      <% @artist.songs.each do |song| %>
        <div>
          <%= song.track_number %>. <%= song.name%> (<%= song.duration%>)
          <a class="delete-song" href="#" data-id="<%= song.id %>">[Delete]</a>
          <br>
        </div>
      <% end %>
    </div>
    <h3>Create song</h3>

    <div class="panel-body">
      <%= render 'songs/form' %>
    </div>
  </div>
</div>
