<h1>New song</h1>


<%= form_for [@artist, @artist.songs.new] do |s| %>
  <%= s.label :track_number %>
  <%= s.number_field :track_number %>
  <br>
  <%= s.label :name %>
  <%= s.text_field :name %>
  <br>
  <%= s.label :duration %>
  <%= s.text_field :duration %>
  <br>
  <%= s.submit "Create" %>
<% end %>
